@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/* Css Variables */

:root {
  --on-background: rgb(66, 66, 66);
  --background: rgb(255, 255, 255);
}

[data-theme="dark"] {
  --on-background: rgba(255, 255, 255, 0.9);
  --background: rgb(18, 18, 18);
}

/* General */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "jost", sans-serif;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--on-background);
  transition: background-color 0.75s ease, color 0.75s ease;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--on-background);
  transition: border-bottom 0.2s ease;
}

a:hover {
  padding-bottom: 5px;
  border-bottom: 5px solid var(--on-background);
}

/* Sections */
section {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}

h2 {
  font-size: 40px;
}
/* Section 1 */
.theme-switcher {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.theme-switcher span {
  margin-right: 10px;
  font-size: 1rem;
  color: var(--on-background);
}

.fas {
  font-size: 30px;

  transition: transform 0.2s ease;
}

.fas:hover {
  transform: scale(1.1);
}

.hero-section {
  width: 100vw;
}
.hero-section h1 {
  font-size: 100px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
  animation-name: focus-in-contract;
  animation-duration: 3s;
  animation-timing-function: linear;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    letter-spacing: 0;
    filter: blur(0);
    opacity: 1;
  }
}

.social-media-icons {
  font-size: 70px;
  position: relative;
  top: -60%;
  text-align: center;
  animation: focus-in-contract 3s linear;
}
.social-media-icons i {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.social-media-icons i:hover {
  transform: scale(1.4);
}

/* Section 2 */
.main-image {
  height: 50%;
  width: auto;
  position: relative;
  top: -24%;
  padding: 20px;
  border: 10px solid var(--on-background);
}

/* section 3 */
.image-container {
  position: relative;
  top: -25%;
  height: 50vh;
}

.small-image {
  height: 50%;
  width: auto;
  padding: 20px;
  border: 10px solid var(--on-background);
}

.small-image:not(:first-child) {
  margin-left: 20px;
}

/* section 4 */

.blog-container {
  margin: 0 auto;
  width: 50ch;
}

.blog-item {
  margin-bottom: 50px;
}
/* Section 5 */
/* Waves */
.wave {
  width: 100%;
}

.wave > svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Footer */

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
}
